textarea {
    resize: none;
    width: 100%;
    height: 100vh;
    
    border: 0;
    outline: 0;
    box-shadow: none;
    
    background: #114b;
    color: #fff;

    padding: 40px 20px;
    font-size: 26px;

    white-space:pre;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#root {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto;
}

#codeArea {
    outline: 1px solid #aaa;
}

#viewArea {
    outline: 1px solid #aaa;
}

.window-change {
    position: absolute;
    background: #ddd;

    width: 100px;
    height: 20px;

    border: 0;
    outline: 0;

    left: 0;
    top: 0;
}
.window-change:active {
    opacity: 50%;
}

#window-HTML {
    background: #114b;
    color: #fff;
}

#window-CSS {
    left: 100px;
}

#window-JAVASCRIPT {
    left: 200px;
}

.zoom-buttons {
    position: absolute;
    left: 20px;
    width: 30px;
    height: 30px;
}

#zoom-in {
    bottom: 90px; 
}

#zoom-out {
    bottom: 60px;
}

#frame-view {
    width: 99%;
    height: 99%;

    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;

    box-shadow: none;
}