#window-buttons, #saveContainer {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 14%, 
                              rgba(250,253,11,1) 28%, rgba(20,255,251,1) 42%, 
                              rgba(16,251,13,1) 56%, rgba(230,2,245,1) 70%, 
                              rgba(230,0,2,1) 84%, rgba(1,1,238,1) 100%);
}

#window-buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.window-change {
    height: 40px;
    width: 60px;

    margin: 0;

    border-radius: 0;
    box-shadow: none;
    border: none;
    outline: 1px solid gray;
}

#window-HTML {
    background: #114b;
    color: #fff;
}

#window-JAVASCRIPT {
    border-radius: 0 25px 0 0;
}

.window-change:hover { cursor: pointer; }




#zoom-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;

    bottom: 5vh;
    left: 1vw;
}

.zoom {
    width: 30px;
    height: 30px;

    margin: 4px 0;
}

.zoom:hover { cursor: pointer; }




#saveContainer {
    text-align: center;
}

#saveContainer > button {
    position: relative;
    top: 15px;

    width: 150px;
    height: 45px;

    color: white;
    background: #24ba73;
    border: none;
    box-shadow: none;
    border-radius: 10px;

    font-size: 1.1em;
    text-shadow: 0 0 4px black;
    letter-spacing: 2px;
    transition: letter-spacing .4s;
}

#saveContainer > button:hover { 
    cursor: pointer; 
    opacity: .9; 
    letter-spacing: 5px;
}
#saveContainer > button:active { 
    background: #14d179;
    box-shadow: inset;
}




#root {
    width: 100vw;
    height: 85vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.textArea-code {
    resize: none;
    
    border: 2px solid gray;
    outline: 0;
    box-shadow: none;
    
    background: #114b;
    color: #fff;

    padding: 40px 20px;
    font-size: 26px;

    white-space:pre;
}

#viewArea, .textArea-code{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#viewArea iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#floatingURL {
    position: absolute;
    top: 105px;
    display: block;
    width: 98vw;
    text-align: right;

    color: white;
}

#floatingURL a { 
    color: green;
    text-decoration: none; 
}
#floatingURL a:hover { text-decoration: underline; }