#message {
    position: absolute;
    left: 2vw;
    bottom: 20vh;
    width: 25vw;
    background: red;
    padding: 2px 4px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0 0 30px lightcoral;
    color: white;
}



#Img-noArr {
    width: 100%;
    height: 60vh;

    object-fit: cover;
}

#H3-noArr {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 4px black;

    position: relative;
    bottom: 5vh;
}

#H3-noArr a {
    color:#8e80e2;
    text-decoration: none;

    transition: font-size .3s;
}

#H3-noArr a:hover {
    font-size: 1.08em;
    text-decoration: underline;
}




#projectsContainer {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: calc(91vh + 8px);
}

#projectsContainer > div:first-child {
    padding: 40px 20px;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#prof {
    display: grid;
    grid-template-columns: 20% 75%;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 2.5%;
}

#prof img { width: 100%; }


#projectsContainer > div:nth-child(2) {
    display: flex;
    flex-direction: column;

    overflow-y: auto;

    padding: 15px 30px;

    background: rgb(230, 228, 228);
}

iframe { border: 1px solid whitesmoke; width: 90%; }

.projectContainer {
    margin: 5px 0;
    padding: 4px 0;
    border-bottom: 1px solid gray;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
}

.projectContainer > div:nth-child(2) { 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40% 35% 25%;
}

.projectContainer > div:nth-child(2) h4 { font-size: 1.2em; }
.projectContainer > div:nth-child(2) span { color:gray; font-size: .9em; }

.buttonsContainer {
    display: grid;
    grid-template-columns: auto auto auto auto 40%;
    column-gap: 1%;
    align-items: center;    
}

.buttonsContainer a:hover { cursor: auto; }
.buttonsContainer span i, .buttonsContainer a { color: black; }
.buttonsContainer i { transition: font-size .4s; }

.buttonsContainer i:hover { 
    cursor: pointer; 
    color: rgb(60, 236, 178); 
    font-size: 1.2em; 
    text-shadow: 0 0 2px black;
}



.formDivider, form input[type="submit"] {
    margin: 4px 6px;
}

.formDivider label {
    display: block;
    color: rgb(61, 61, 61);
}

.formDivider input[type="text"] {
    border: 0;
    outline: 0;
    border-bottom: 1px solid #4887ff;
    box-shadow: none;    
    background: #fff;


    padding: 2px 4px;
    width: 300px;    
}

.formDivider input[type="text"]:focus {
    background: linear-gradient(180deg, #fff 65%, #81adff);
}

#formContainer input[type="submit"] {
    width: 100px;
}

#formContainer {
    margin-left: 20%;
    border-radius: 6px;
    background: rgb(230, 228, 228);
    width: max-content;
}

#showForm {
    width: 100%;
    background: lightblue;
    text-align: center;
    border-radius: 8px;
    border: 1px solid gray;

    transition: color .15s;
}

#showForm:hover { cursor: pointer; }
#showForm:active { border: 0; color: white; }


@media (max-width: 1450px) {
    #formContainer {
        position: relative;
        right: 50px;
        width: 100%;
    }
    #formContainer input[type="text"] {
        width: 100%;
    }
}

@media (max-width: 800px) {
    #projectsContainer {
        grid-template-columns: auto;
        grid-template-rows: 30% 70%;
    }
    #formContainer {
        position: relative;
        top: 20px;
        right: -60px;
        width: max-content;
    }
    #formContainer input[type="text"] {
        width: 300px; 
    }
    #projectsContainer > div:first-child {
        top: 30px;
    }
    #projectsContainer > div:nth-child(2) {
        height: 59vh;
        overflow-y: auto;
    }
}

@media (max-width: 600px) {
    .buttonsContainer {
        grid-template-columns: auto auto auto auto 20%;
    }
    #formContainer {
        right: 30px;
    }
}

@media (max-width: 400px) {
    .buttonsContainer {
        grid-template-columns: auto auto auto auto;
    }
    #formContainer {
        right: 50px;
    }
}