#mainHolder > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#filesHolder {
    width: 80%;
    margin: 5vh 2vw;
}

#newFile-Holder {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: calc(13vh + 1px);
    right: 10px;

    background: transparent;
    border: none;

    width: 160px;
    height: 50px;

}
#newFile-Holder button {
    width: 100%;
    height: 100%;
}

#newFile-Holder button:hover { cursor: pointer; }

#filesHolder > div:nth-child(2) {
    border: 1px solid gray;
    background: #fff;
}

.projectHolder {
    display: grid;
    grid-template-columns: 40% 58% 2%;
    grid-template-areas: auto;

    margin: 40px 15px;
    padding: 10px 6px;
    background: #858a94a9;
}

.projectHolder iframe { 
    background: #fff; 
    border: 1px solid black;
    margin: auto;
    width: 90%;
    height: 100%;
}

.projectHolder h4 {
    overflow: hidden;
    text-overflow: clip;
}

.fa-trash-o:hover {
    cursor: pointer;
    color: #c92f2f;
}

.fa-eye-slash:hover, .fa-eye:hover {
    color: yellow;
    cursor: pointer;
}

.projectHolder a{ color: black; }

.projectHolder a:hover { color: #0303f3; }

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#formHolder {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 40vh;

    width: 350px;
    height: 200px;   

    background: #27275a;
    color: #fff;
    border: 1px solid gray;
    border-radius: 10px;

    animation-name: appearForm;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.formDivider { margin: 14px 0; }

#formHolder input[type="submit"], #formHolder input[type="text"] {
    width: 100%;
}

#formHolder input[type="submit"]:hover { cursor: pointer; }

@keyframes appearForm {
    from { height: 0; overflow: hidden; }
    to { height: 240px; overflow: hidden; }
}

#messageHolder {
    position: relative;
    top: 20px;

    border: 1px solid red;
    border-radius: 8px;
    box-shadow: 0 0 10px red;

    text-align: center;

    width: 80%;

    background: #ef5350;
    color: #fff;
}

#nameChange-holder {    
    position: absolute;
    top: 25vh;

    width: 500px;
    height: 300px;

    padding: 10px 5px;

    background: #fff;
    border: 1px solid gray;
    border-radius: 8px;
}

#nameChange-holder > form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% auto 20%;
    row-gap: 16px;


    width: 100%;
    height: 100%;
}

.formArea {
    width: 100%;
    height: 100%;
}

#nameChange {
    resize: none;
}