#body-content {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "a b";

}
#body-content > div {
    height: calc(94vh - 48px);
    padding: 13px 8px;
}

#body-content:first-child {
    grid-area: "a";
}

#side-bar {
    border-left: 2px solid black;
    grid-area: "b";

    background: #67a49b;
}

#side-bar pre {
    overflow-y: auto;
    white-space: pre-line;
    word-wrap: break-word;

    background: #38756d;
    color: #eeef;

    padding: 4px 7px;
    margin: 2px;

    height: 70vh;
    outline: 4px inset #97d6cc;
    border-radius: 0 30px 0 0;
}

#update-holder {
    position: absolute;

    right: 2vw;
    bottom: 2vh;
}

#side-bar pre > h3 {
    color: #aeaeff;
    font-weight: 900;
    text-decoration: underline;
}