.blockImage {
    width: 100%;
    height: 40vh;

    min-height: 300px;

    background-image: url("https://images2.alphacoders.com/698/698137.jpg");
    background-repeat: no-repeat;

    animation-name: showBackground;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 2.6s;
}

@keyframes showBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#projectsHolder {
    padding: 40px 20px;
}

#projectsHolder, html {
    background: rgb(171,71,188);
    background: linear-gradient(90deg, rgba(171,71,188,1) 0%, rgba(121,14,139,1) 75%);
}

#projectsHolder > div > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projectHolder {
    margin: 27px 23px;
    
    color: #fff;
    text-decoration: none;
    
    background: #37474f;
    
    display: block;    
}

.projectHolder > div:nth-child(2) {
    text-align: center;
}

.projectHolder div iframe {
    width: 405px;
    height: 212px;

    background: #fff;
    border: none;

    margin: 15px auto;
}


.projectHolder > div:nth-child(3) {
    height: 110px;
    width: 445px;

    padding: 20px 17px;

    background: #102027;
    border-top: 1px solid gray;

}
.projectHolder > div:nth-child(3) > div {
    margin: 20px 0;
}
.projectHolder > div:first-child {
    text-align: right;
    padding: 0 10px;
}

.projectHolder > div:first-child i:hover {
    cursor: pointer;
    box-shadow: 0 0 10px gray;
}

#goUp {
    display: flex;
    position: sticky;

    bottom: 40px;
    left: 94vw;

    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    border-radius: 20px;
    border: 1px solid lightgray;

    box-shadow: 0 0 10px lightgray;

    background: #fff;
    color: black;
    text-decoration: none;
    font-size: larger;
}


.foot {
    height: 10vh;

    padding-top: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background: #112;

    font-weight: bold;
    color: white;
}


.footer-link {
    display: block;

    text-decoration: none;
    color: white;

    width: 15vw;
    margin: 0 1vw;

    transition: letter-spacing .7s;
}

.footer-link:hover {
    letter-spacing: 2px;
}