#Img-noArr {
    width: 100%;
    height: 60vh;

    object-fit: cover;
}

#H3-noArr {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 4px black;

    position: relative;
    bottom: 5vh;
}

#H3-noArr a {
    color:#8e80e2;
    text-decoration: none;

    transition: font-size .3s;
}

#H3-noArr a:hover {
    font-size: 1.08em;
    text-decoration: underline;
}




#projectsContainer {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: calc(91vh + 8px);
}

#projectsContainer > div:first-child {
    padding: 40px 20px;
    height: 35%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#projectsContainer > div:first-child > div {
    display: grid;
    grid-template-columns: 20% 75%;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 2.5%;
}

#projectsContainer > div:first-child img { width: 100%; }


#projectsContainer > div:nth-child(2) {
    display: flex;
    flex-direction: column;

    padding: 15px 30px;

    background: rgb(230, 228, 228);
}

iframe { border: 1px solid whitesmoke; width: 90%; }

.projectContainer {
    margin: 5px 0;
    padding: 4px 0;
    border-bottom: 1px solid gray;

    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
}

.projectContainer > div:nth-child(2) { 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40% 35% 25%;
}

.projectContainer > div:nth-child(2) h4 { font-size: 1.2em; }
.projectContainer > div:nth-child(2) span { color:gray; font-size: .9em; }

.buttonsContainer {
    display: grid;
    grid-template-columns: 5% 5% auto;
    column-gap: 1%;
    align-items: center;    
}

.buttonsContainer a:hover { cursor: auto; }
.buttonsContainer span i, .buttonsContainer a { color: black; }
.buttonsContainer i { transition: font-size .4s; }

.buttonsContainer i:hover { 
    cursor: pointer; 
    color: rgb(60, 236, 178); 
    font-size: 1.2em; 
    text-shadow: 0 0 2px black;
}