<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Maker</title>
</head>
<body>
    <div id="root">
        <div>
            <button class="window-change" id="window-HTML">HTML</button>
            <button class="window-change" id="window-CSS">CSS</button>
            <button class="window-change" id="window-JS">JS</button>
        </div>
        <div>
            <button class="zoom-buttons" id="zoom-in">➕</button>
            <button class="zoom-buttons" id="zoom-out">➖</button>
        </div>
        <div id="codeArea">
            <textarea tabindex="1" placeholder="Write your HTML here..."></textarea>
        </div>
        <div id="viewArea">
            <span style="display:block; margin: 20px 40px;">Your changes will be displayed here</span>
        </div>
    </div>    
</body>
</html>