{% extends 'pen/layout.html' %}
{% load static %}

{% block title %}Code Editor - Pen{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static 'pen/edit.css' %}">
<script src="{% static 'pen/edit.js' %}"></script>
<div id="token"> {% csrf_token %} </div>
<div id="fileName" style="display: none;">{{ file.projectName }}</div>


<div>
    <div id="buttonsContainer">
        <div id="saveContainer">
            <button>Save</button>
        </div>
        <div id="window-buttons">
            <button class="window-change" id="window-HTML">HTML</button>
            <button class="window-change" id="window-CSS">CSS</button>
            <button class="window-change" id="window-JAVASCRIPT">JS</button>
        </div>
        <div id="zoom-buttons">
            <button class="zoom" id="zoom-in">➕</button>
            <button class="zoom" id="zoom-out">➖</button>
        </div>
    </div>
    <div id="root">
        <div id="codeArea">
            <textarea class="textArea-code" id="code-HTML" style="display: block;" spellcheck="false" placeholder="Write your HTML here...">{{ file.code_HTML }}</textarea>
            <textarea class="textArea-code" id="code-CSS" style="display: none;" spellcheck="false" placeholder="Write your CSS here...">{{ file.code_CSS }}</textarea>
            <textarea class="textArea-code" id="code-JS" style="display: none;" spellcheck="false" placeholder="Write your JS here...">{{ file.code_JS }}</textarea>
        </div>
        <div id="floatingURL">
            <span>Click <a href="{% url 'fullPage' file.projectName user.username %}">here</a> to see the full page</span>
        </div>
        <div id="viewArea">    
            <iframe src=""></iframe>
        </div>
    </div>
</div>
{% endblock %}