{% extends "pen/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}

<link rel="stylesheet" href="{% static 'pen/index.css' %}">
<script src="{% static 'pen/index.js' %}"></script>

<div id="body-content">
    <div>
        <div>
            <div class="blockImage"></div>
        </div>

        <div id="projectsHolder">
            <div>
                <div>

                    <div class="projectHolder">
                        <div class="fullScreenSelector">
                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                        </div>
                        <div>
                            <iframe scrolling="no" src="http://www.columbia.edu/~fdc/sample.html"></iframe>
                        </div>
                        <div>
                            <span style="display: block;text-align: center;"><a href="#" style="color: aquamarine;">Here</a> you can see the full page!</span>
                            <div>
                                <h3>Name</h3>
                            </div>
                            <div>
                                <h4>Creator</h4>
                            </div>
                        </div>
                    </div>
                    <div class="projectHolder">
                        <div class="fullScreenSelector">
                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                        </div>
                        <div>
                            <iframe scrolling="no" src="http://www.columbia.edu/~fdc/sample.html"></iframe>
                        </div>
                        <div>
                            <span style="display: block;text-align: center;"><a href="#" style="color: aquamarine;">Here</a> you can see the full page!</span>
                            <div>
                                <h3>Name</h3>
                            </div>
                            <div>
                                <h4>Creator</h4>
                            </div>
                        </div>
                    </div>
                    <div class="projectHolder">
                        <div class="fullScreenSelector">
                            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                        </div>
                        <div>
                            <iframe scrolling="no" src="http://www.columbia.edu/~fdc/sample.html"></iframe>
                        </div>
                        <div>
                            <span style="display: block;text-align: center;"><a href="#" style="color: aquamarine;">Here</a> you can see the full page!</span>
                            <div>
                                <h3>Name</h3>
                            </div>
                            <div>
                                <h4>Creator</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <a id="goUp" href="#nav-container">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>

        <div>
            <footer>
                <div class="foot">
                    <a href="#" class="footer-link"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</a>
                    <a href="#" class="footer-link"><i class="fa fa-gavel" aria-hidden="true"></i> Legal</a>
                    <a href="#" class="footer-link"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                    <a href="#" class="footer-link"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
                    <a href="#" class="footer-link"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                    <span>All of the media in this page(s) are protected by copyright</span>
                </div>
            </footer>
        </div>

        <div id="window" style="display: none;">
        </div>
    </div>
</div>


{% endblock %}