{% extends "pen/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'pen/index.css' %}">

<div id="body-content">
    <div id="code-views">
        Here will be the iframe to view the newest projects from the users!
    </div>
    <div id="side-bar">
        <div>
            <h2>Last updates:</h2>
            <br><br>
            <pre>
                <h3>Update 1.3</h3>
                - Added the login/logout page and fix the register page

                <h3>Update 1.1</h3>
                - Added the register page

                <h3>Update 1.0.1</h3>
                - Styling the index page
                
                <h3>Update 1.0.0</h3>
                - Starting to work with the index page
            </pre>
        </div>

        <div id="update-holder">
            <span>Here you can see all of the <a href="#">updates</a>!</span>
        </div>        
    </div>
</div>


{% endblock %}