{% extends "pen/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}

<link rel="stylesheet" href="{% static 'pen/index.css' %}">
<script src="{% static 'pen/index.js' %}"></script>

<div id="body-content">
    <div>
        <div>
            <div class="blockImage"></div>
        </div>
        <div id="title-holder">
            <h2>Latest Public Projects</h2>
        </div>
        <div id="projects-holder">

            <div class="project-holder">
                <div>
                    <h4>Project A</h4>
                    <span>Creator: <strong>El pepe mushiyo</strong></span>
                    <a href="#">See the full page!</a>
                </div>
                <iframe src="http://info.cern.ch/" width="100%" height="100%"></iframe>
            </div>

            <div class="project-holder">
                <div>
                    <h4>Project A</h4>
                    <span>Creator: <strong>El pepe mushiyo</strong></span>
                    <a href="#">See the full page!</a>
                </div>
                <iframe src="http://info.cern.ch/" width="100%" height="100%"></iframe>
            </div>

            <div class="project-holder">
                <div>
                    <h4>Project A</h4>
                    <span>Creator: <strong>El pepe mushiyo</strong></span>
                    <a href="#">See the full page!</a>
                </div>
                <iframe src="http://info.cern.ch/" width="100%" height="100%"></iframe>
            </div>

            <div class="project-holder">
                <div>
                    <h4>Project A</h4>
                    <span>Creator: <strong>El pepe mushiyo</strong></span>
                    <a href="#">See the full page!</a>
                </div>
                <iframe src="http://info.cern.ch/" width="100%" height="100%"></iframe>
            </div>

            <div class="project-holder">
                <div>
                    <h4>Project A</h4>
                    <span>Creator: <strong>El pepe mushiyo</strong></span>
                    <a href="#">See the full page!</a>
                </div>
                <iframe src="http://redesdecomputadores.umh.es/aplicacion/HTTP.htm" width="100%" height="100%"></iframe>
            </div>
        
        </div>

        <a id="goUp" href="#nav-container">
            <i class="fa fa-arrow-up" aria-hidden="true"></i>
        </a>

        <div>
            <footer>
                <div class="foot">
                    <a href="#" class="footer-link"><i class="fa fa-info-circle" aria-hidden="true"></i> Info</a>
                    <a href="#" class="footer-link"><i class="fa fa-gavel" aria-hidden="true"></i> Legal</a>
                    <a href="#" class="footer-link"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                    <a href="#" class="footer-link"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
                    <a href="#" class="footer-link"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                    <span>All of the media in this page(s) are protected by copyright</span>
                </div>
            </footer>
        </div>
    </div>
</div>


{% endblock %}