{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pen/layout.css' %}">
    <link rel="shortcut icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/182/182942.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet"> 
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="nav-container">
        <nav>
            <ul>
                <li id="comp-tag"><span>C{}DE!</span></li>
                <li><a class="navbar-link" href="{% url 'index' %}"><span>Home</span> <i class="fa fa-home" aria-hidden="true"></i></a></li>

                {% if user.is_authenticated %}
                    <li><a class="navbar-link" href="{% url 'files' %}"><span>Files</span> <i class="fa fa-files-o" aria-hidden="true"></i></a></li>
                    <li><a class="navbar-link" href="{% url 'likes' %}"><span>Likes list</span> <i class="fa fa-thumbs-up" aria-hidden="true"></i></a></li>
                    <li id="user-logout"><a href="{% url 'logout' %}"><span>Log out</span> <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                    <li><a href="{% url 'profile' %}" id="user-profile"><span>Profile</span> <i class="fa fa-user" aria-hidden="true"></i></a></li>
        
                {% else %}
                    <li><a class="navbar-link" href="{% url 'register' %}"><span>Register</span> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
                    <li><a class="navbar-link" href="{% url 'login' %}"><span>Log in</span> <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div>
        {% block body %}{% endblock %}
    </div>
</body>
</html>