{% extends "pen/layout.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block body %}


<link rel="stylesheet" href="{% static 'pen/logIn.css' %}">
<script src="{% static 'pen/logIn.js' %}"></script>

<div>

    <div>
        {% if message %}
        <div>
            <span>{{ message }}</span>
        </div>
        {% endif %}
        <div id="formContainer">
            <form method="POST">
                <div>
                    {% csrf_token %}
                </div>
                <div>
                    <label for="user">Username</label>
                    <input id="user" type="text" name="user" required minlength="5" maxlength="50" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" required minlength="6" maxlength="100" />
                </div>
                <div>
                    <input type="submit" />
                </div>
            </form>
        </div>
    </div>


</div>



{% endblock %}