{% extends "pen/layout.html" %}
{% load static %}

{% block title %}Log In{% endblock %}

{% block body %}


<link rel="stylesheet" href="{% static 'pen/logIn.css' %}">
<script src="{% static 'pen/logIn.js' %}"></script>

<div>

    <div>
        <div id="formContainer">
            <form action="">
                <div>
                    <label for="user">Username</label>
                    <input id="user" type="text" name="user" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" />
                </div>
                <div>
                    <input type="submit" />
                </div>
            </form>
        </div>
    </div>


</div>



{% endblock %}