{% extends 'pen/layout.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block body %}

<link rel="stylesheet" href="{% static 'pen/register.css' %}">

<div>
    {% if message %}
        <div id="messageContainer">
            <span>{{ message }}</span>
        </div>
    {% endif %}

    <div id="formContainer">
        <form method="post">
            <div> {% csrf_token %} </div>
            <div class="formDivider"> 
                <div class="form-iconHolder"> <i class="fa fa-envelope" aria-hidden="true"></i> </div>

                <div class="form-inputHolder"> 
                    <div> <label for="">Provide your email</label> </div>
                    <div> <input class="form-inputWrite" type="email" name="email" maxlength="320" minlength="8" autocomplete="off" required /> </div>
                </div>
            </div>
            <div class="formDivider">
                <div class="form-iconHolder"> <i class="fa fa-user-o" aria-hidden="true"></i> </div>
                 
                <div class="form-inputHolder"> 
                    <div> <label for="">Provide your username</label> </div>
                    <div> <input class="form-inputWrite" type="text" name="user" maxlength="36" minlength="5" autocomplete="off" required /> </div>
                </div>
            </div>            
            <div class="formDivider"> 
                <div class="form-iconHolder"> <i class="fa fa-key" aria-hidden="true"></i> </div>
                 
                <div class="form-inputHolder"> 
                    <div> <label for="">Provide your password</label> </div>
                    <div> <input class="form-inputWrite" type="password" name="password" maxlength="100" minlength="6" autocomplete="off" required /> </div>
                </div>
            </div>
            <div class="formDivider"> 
                <div class="form-iconHolder"> <i class="fa fa-keyboard-o" aria-hidden="true"></i> </div>
                 
                <div class="form-inputHolder"> 
                    <div> <label for="">Repeat your password</label> </div>
                    <div> <input class="form-inputWrite" type="password" name="confirm" maxlength="100" minlength="6" autocomplete="off" required /> </div>
                </div>
            </div>

            <div class="formSubmit"> <input type="submit" value="Register"> </div>
        </form>
    </div>
</div>


{% endblock %}